* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray-background: #F0F0F0;
    --project: #213CEA;
    --plus: #FFFFFF;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.woff) format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto-variablefont_wdthwght-webfont.woff2) format("woff2"),
         url(../fonts/roboto-variablefont_wdthwght-webfont.woff) format("woff");
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100vh;
}

#sidebar {
    display: grid;
    grid-template-rows: 20.9% 79.1%;
    background-color: var(--gray-background);
}

#sidebar,
#main {
    padding: 1.2rem;
}

/*HEAD*/

.head {
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
}


#dp {
    width: clamp(2.2rem, 3rem, 3.5rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.head div:nth-child(2) {
    font-size: 1.2rem;
}

.head div:nth-child(3) {
    width: clamp(1.5rem, 2rem, 2.5rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--project);
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    color: var(--plus);
    font-weight: 900;
    margin-left: calc(5rem / 10);
    cursor: pointer;
    margin-top: 1rem;
}

.head div:nth-child(4) {
    font-size: 1rem;
    margin-top: 1rem;
}

.head div:nth-child(2n) {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.head div:last-child {
    grid-column: 1 / span 2;
    border-bottom: 0.2px solid black;
    opacity: 0.2;
}

/*PROJECTS & TODOS*/
#projects {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-top: 1rem;
}

.project {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0.1rem 0rem;
    align-items: center;
}

.project .box {
    width: clamp(0.8rem, 1.5vw, 2vw);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    position: relative;
    left: 0.75rem;
    margin-bottom: 0.5rem;
}

.todo .pound {
    width: clamp(0.8rem, 1.5vw, 2vw);
    aspect-ratio: 1 / 1;
    color: #E30808;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    left: 1rem;
}

.todo {
    display: contents;
    font-family: "Roboto", sans-serif;
}

.todolabel {
    font-size: 0.72rem;
    font-weight: 500;
    letter-spacing: 0.08ch;
}

.project .label {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    justify-self: start;
    margin-bottom: 0.5rem;
}

.pro1 {
    background-color: #E30808;
}

.pro2 {
    background-color: #08EA81;
}

.pro3 {
    background-color: #0887E3;
}