* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray-background: #F0F0F0;
    --project: #213CEA;
    --plus: #FFFFFF;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.woff) format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto-variablefont_wdthwght-webfont.woff2) format("woff2"),
         url(../fonts/roboto-variablefont_wdthwght-webfont.woff) format("woff");
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100vh;
}

#sidebar {
    display: grid;
    grid-template-rows: 20.9% 79.1%;
    background-color: var(--gray-background);
}

#sidebar,
#main {
    padding: 1.2rem;
}

/*HEAD*/

.head {
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
}


#dp {
    width: clamp(2.2rem, 3rem, 3.5rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.head div:nth-child(2) {
    font-size: 1.2rem;
}

.head div:nth-child(3) {
    width: clamp(1.5rem, 2rem, 2.5rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--project);
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    color: var(--plus);
    font-weight: 900;
    margin-left: calc(5rem / 10);
    cursor: pointer;
    margin-top: 1rem;
}

.head div:nth-child(4) {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.head div:nth-child(2n) {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.head div:last-child {
    grid-column: 1 / span 2;
    border-bottom: 0.2px solid black;
    opacity: 0.2;
}
